
    <div class="container">


      <form class="form-horizontal ng-valid ng-dirty ng-valid-parse" style="">

        <div class="form-group">
          <div class="col-xs-10 col-xs-offset-1">
            <input type="text" placeholder="Email" ng-model="user.email" id="inputEmail" class="form-control ng-untouched ng-valid ng-dirty ng-valid-parse" style="">
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-10 col-xs-offset-1">
            <input type="password" placeholder="Password" ng-model="user.password" id="inputPassword" class="form-control ng-untouched ng-valid ng-dirty ng-valid-parse" style="">

          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-10 col-xs-offset-1">
            <input type="text" placeholder="Name" ng-model="user.name" id="inputName" class="form-control ng-untouched ng-valid ng-dirty ng-valid-parse" style="">

          </div>
        </div>

        <div class="form-group">
          <div class=" col-xs-10 col-xs-offset-1">
            <button class="btn btn-primary reg-butt" ng-click="user_reg()" type="button">Register</button>
          </div>
        </div>  <!-- form-group for buttons-->

      </form>

    </div>


